@charset "UTF-8";
/* 한글에만 Pretendard 적용 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7AF;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Onest", "Pretendard", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #022be9;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1772px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) {
  .inner {
    padding: 0 30px;
  }
}

#header {
  transform: translateY(0);
  transition: transform 0.4s ease;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: 80px;
  }
}
#header #logo .logo__link {
  display: block;
  width: 123px;
  height: 26px;
  background: url(../../../resources/images/pattern/common/kiafseoul_header_logo.png) no-repeat 0 0/contain;
}
#header .util {
  display: flex;
  gap: 20px;
}
@media (min-width: 600px) {
  #header .util {
    gap: 30px;
  }
}
#header .util .lang,
#header .util .all-menu {
  width: 24px;
  height: 24px;
}
#header .util .lang svg,
#header .util .all-menu svg {
  stroke: #1d1d1d;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  transform: translateY(-200px);
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  transition: all 0.3s;
}
#nav-all.active {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}
#nav-all .nav-all__tit {
  font-size: 3.2rem;
  font-weight: 400;
  padding: 12px 0;
}
#nav-all .gnb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}
#nav-all .gnb a {
  display: block;
  font-size: 3rem;
  font-weight: 600;
}
#nav-all .btn-close {
  position: absolute;
  top: 23px;
  right: 20px;
}

#footer {
  border-top: 2px solid #1d1d1d;
  padding: 28px 0px 20px 0px;
}
#footer .inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#footer .footer__nav .gnb {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  font-weight: 500;
}
@media (min-width: 600px) {
  #footer .footer__nav .gnb {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  #footer .footer__nav .gnb {
    font-size: 2rem;
  }
}
#footer .footer__nav .gnb a:hover {
  text-decoration: underline;
}
#footer .copyright {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.5px;
}
@media (min-width: 1024px) {
  #footer .copyright {
    font-size: 7.2rem;
  }
}
#footer .footer__info {
  display: flex;
  justify-content: space-between;
}
#footer .btn-top {
  padding-top: 4px;
}
#footer .btn-top:hover::after {
  background-image: url(../../../resources/images/pattern/common/btn-top_on.svg);
}
#footer .btn-top::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../../../resources/images/pattern/common/btn-top.svg) no-repeat center/contain;
  transition: all 0.3s;
}
@media (min-width: 1024px) {
  #footer .btn-top::after {
    width: 52px;
    height: 52px;
  }
}

.sec-g {
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .sec-g {
    margin-top: 24px;
  }
}

.intro .inner {
  padding-top: 72px;
  padding-bottom: 20px;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .intro .inner {
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .intro .inner {
    display: block;
    padding-top: 80px;
    padding-bottom: 0;
  }
}
.intro__txt {
  padding: 36px 0;
  font-size: clamp(1.6rem, 14.4vw, 7rem);
  line-height: 1.1;
  letter-spacing: -0.1rem;
  font-weight: 500;
}
@media (min-width: 600px) {
  .intro__txt {
    font-size: 8rem;
  }
}
@media (min-width: 1024px) {
  .intro__txt {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: clamp(7.4rem, 6.5vw, 11rem);
  }
}
.intro__txt .fixed-txt {
  display: flex;
}
.intro__txt .fixed-txt {
  overflow: hidden;
  position: relative;
}
.intro__vid {
  overflow: hidden;
  height: 100%;
  border-radius: 16px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .intro__vid {
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  .intro__vid {
    height: calc(100vh - 80px - 30px);
    border-radius: 40px;
    position: absolute;
    top: 80px;
    right: 30px;
    transition: width 0.3s ease;
  }
}
.intro__vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.intro .fixed-txt span {
  opacity: 0;
  transform: translateY(100%);
}
.intro .cursor {
  opacity: 0;
}

.sec-leadin .sec-leadin__cont {
  position: relative;
  padding-top: 56px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.sec-leadin .arrow-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 36px;
}
.sec-leadin .arrow-box__text {
  overflow: hidden;
}
.sec-leadin .stepinto {
  display: block;
  transform: translateY(100%);
  font-size: clamp(2.2rem, 6.5vw, 3rem);
}
@media (min-width: 600px) {
  .sec-leadin .stepinto {
    font-size: clamp(3rem, 4.5vw, 4rem);
  }
}
@media (min-width: 1024px) {
  .sec-leadin .stepinto {
    font-size: clamp(4rem, 4vw, 5.2rem);
  }
}
.sec-leadin .arrow-box__arrow {
  margin-top: 10px;
  transform-origin: right top;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
}
.sec-leadin .arrow-box__arrow .arrow-start {
  position: relative;
  width: 36px;
  height: 36px;
  border-bottom: 4px solid #000;
  border-left: 4px solid #000;
}
@media (min-width: 600px) {
  .sec-leadin .arrow-box__arrow .arrow-start {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .sec-leadin .arrow-box__arrow .arrow-start {
    width: 70px;
    height: 70px;
  }
}
.sec-leadin .arrow-box__arrow .arrow-end {
  width: 70px;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform-origin: left center;
  transform: translateY(50%) rotate(-45deg);
}
@media (min-width: 600px) {
  .sec-leadin .arrow-box__arrow .arrow-end {
    width: 96px;
  }
}
@media (min-width: 1024px) {
  .sec-leadin .arrow-box__arrow .arrow-end {
    width: 120px;
  }
}
.sec-leadin .txt-box {
  overflow: hidden;
}
@media (min-width: 600px) {
  .sec-leadin .txt-box .txt-box__top {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .sec-leadin .txt-box .txt-box__top {
    font-size: 2.4rem;
  }
}
.sec-leadin .txt-box .txt-box__bottom {
  overflow: hidden;
  margin-top: 20px;
  font-size: clamp(1rem, 7vw, 3.2rem);
}
@media (min-width: 600px) {
  .sec-leadin .txt-box .txt-box__bottom {
    font-size: clamp(3.2rem, 5vw, 4em);
  }
}
@media (min-width: 1024px) {
  .sec-leadin .txt-box .txt-box__bottom {
    font-size: clamp(4rem, 4vw, 6rem);
    margin-top: 40px;
  }
}
.sec-leadin .txt-box .bg-highlight {
  padding: 0px 0.6rem;
  position: relative;
  display: inline-block;
  z-index: 1;
}
@media (min-width: 600px) {
  .sec-leadin .txt-box .bg-highlight {
    padding: 0px 1.2rem;
  }
}
.sec-leadin .txt-box .bg-highlight::after {
  content: "";
  width: 0;
  max-width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  border-radius: 3.6rem;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  transition: width 0.5s ease;
}
.sec-leadin .txt-box .bg-highlight-active::after {
  width: 100%;
}
.sec-leadin .txt-box .line-highlight {
  padding: 0px 4px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.sec-leadin .txt-box .line-highlight::after {
  display: block;
  content: "";
  width: 0; /* 초기 너비를 0으로 설정해 밑줄이 보이지 않도록 */
  height: 50%;
  background-color: #d8d8d8;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: width 0.5s ease; /* 너비 변화 애니메이션 */
}
.sec-leadin .txt-box .line-highlight-active::after {
  width: 100%; /* 최종 너비 */
}

.sec-card {
  opacity: 0;
  transform: translateY(50px);
}
.sec-card .card__item {
  overflow: hidden;
  border-radius: 12px;
}
@media (min-width: 600px) {
  .sec-card .card__item {
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .sec-card .card__item {
    border-radius: 20px;
  }
}
.sec-card .card__link {
  height: 100%;
  display: flex;
  padding: 16px;
}
@media (min-width: 1024px) {
  .sec-card .card__link {
    padding: 24px;
  }
}
.sec-card .sec-card__cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sec-card .sec-card__cont .since {
  height: 170px;
  background-color: #f0f0f0;
}
.sec-card .sec-card__cont .since .card__link {
  flex-direction: column;
  justify-content: space-between;
}
.sec-card .sec-card__cont .since .card__link .title {
  font-size: 4rem;
  line-height: 1.2;
  transition: all 0.3s;
}
.sec-card .sec-card__cont .since .card__link .bottom-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.sec-card .sec-card__cont .since:hover .title {
  color: #022be9;
}
.sec-card .sec-card__cont .news {
  background-color: #f0f0f0;
  height: 304px;
}
.sec-card .sec-card__cont .news .card__link {
  position: relative;
  padding: 0px;
  flex-direction: column;
  gap: 8px;
}
.sec-card .sec-card__cont .news .card__link .thumb-box {
  margin: 8px;
  border-radius: 12px;
  flex: 3;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .news .card__link .thumb-box {
    margin: 12px;
  }
}
.sec-card .sec-card__cont .news .card__link .thumb-box .thumbnail {
  background: url(../../../resources/images/pattern/common/sec-card_news.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.sec-card .sec-card__cont .news .card__link .btn-more::after {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .news .card__link .btn-more::after {
    right: 24px;
    bottom: 24px;
  }
}
.sec-card .sec-card__cont .news .card__link .top-box {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 16px 16px 0;
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .news .card__link .top-box {
    padding: 24px 24px 0;
  }
}
.sec-card .sec-card__cont .news .card__link .top-box .category {
  font-size: 1.3rem;
  background-color: #1d1d1d;
  padding: 2px 6px;
  border-radius: 12px;
  color: #fff;
}
.sec-card .sec-card__cont .news .card__link .top-box .title {
  flex: 1;
  color: #1d1d1d;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  z-index: 1;
  display: -webkit-box; /* Flexbox 기반의 텍스트 클램핑 */
  -webkit-line-clamp: 2; /* 줄 수 제한 */
  -webkit-box-orient: vertical; /* 텍스트 방향 */
  overflow: hidden; /* 초과 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 추가 */
}
@media (min-width: 600px) {
  .sec-card .sec-card__cont .news .card__link .top-box .title {
    font-size: 2.6rem;
  }
}
.sec-card .sec-card__cont .news:hover .thumbnail {
  transform: scale(1.05);
}
.sec-card .sec-card__cont .wrapper-link {
  height: 170px;
  display: grid;
  gap: 12px 7px;
  grid-template-columns: 1fr 1fr;
}
.sec-card .sec-card__cont .wrapper-link .map {
  grid-area: 1/1/3/2;
}
.sec-card .sec-card__cont .wrapper-link .map .card__link {
  background: url(../../../resources/images/pattern/common/sec-card_map.png) no-repeat center/cover;
  transition: all 0.3s;
}
.sec-card .sec-card__cont .wrapper-link .map:hover .card__link {
  transform: scale(1.05);
}
.sec-card .sec-card__cont .wrapper-link .magazine {
  background-color: #1d1d1d;
}
.sec-card .sec-card__cont .wrapper-link .magazine .card__link {
  justify-content: space-between;
  align-items: center;
}
.sec-card .sec-card__cont .wrapper-link .magazine .card__link .title {
  color: #fff;
  font-weight: 400;
}
.sec-card .sec-card__cont .wrapper-link .magazine .card__link .btn-link::after {
  background-color: #fff;
  color: #1d1d1d;
}
.sec-card .sec-card__cont .wrapper-link .kiafrieze {
  background-color: #f0f0f0;
}
.sec-card .sec-card__cont .wrapper-link .kiafrieze .card__link {
  justify-content: space-between;
  align-items: center;
}
.sec-card .sec-card__cont .wrapper-link .kiafrieze .card__link .title {
  font-weight: 400;
}
.sec-card .sec-card__cont .livetalk,
.sec-card .sec-card__cont .article {
  height: 400px;
  transition: all 0.3s;
}
.sec-card .sec-card__cont .livetalk .card__link,
.sec-card .sec-card__cont .article .card__link {
  position: relative;
  padding: 0;
}
.sec-card .sec-card__cont .livetalk .card__link .thumb-box,
.sec-card .sec-card__cont .article .card__link .thumb-box {
  width: 85%;
  height: 100%;
  border-radius: 100px;
  overflow: hidden;
}
.sec-card .sec-card__cont .livetalk .card__link .thumbnail,
.sec-card .sec-card__cont .article .card__link .thumbnail {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.sec-card .sec-card__cont .livetalk .card__link .btn-text,
.sec-card .sec-card__cont .article .card__link .btn-text {
  opacity: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s;
}
@media (min-width: 600px) {
  .sec-card .sec-card__cont .livetalk .card__link .btn-text,
  .sec-card .sec-card__cont .article .card__link .btn-text {
    opacity: 1;
  }
}
.sec-card .sec-card__cont .livetalk .card__link .btn-text .btn-text__text,
.sec-card .sec-card__cont .article .card__link .btn-text .btn-text__text {
  width: 80%;
}
@media (min-width: 600px) {
  .sec-card .sec-card__cont .livetalk .card__link .btn-text .btn-text__text,
  .sec-card .sec-card__cont .article .card__link .btn-text .btn-text__text {
    width: 100%;
  }
}
.sec-card .sec-card__cont .livetalk .card__link .btn-text .ph,
.sec-card .sec-card__cont .article .card__link .btn-text .ph {
  display: inline-block;
  margin-left: 4px;
  font-weight: 700;
  transition: all 0.3s;
}
.sec-card .sec-card__cont .livetalk .card__link .btn-text:hover .ph,
.sec-card .sec-card__cont .article .card__link .btn-text:hover .ph {
  transform: translateX(5px);
}
.sec-card .sec-card__cont .livetalk:hover .thumbnail,
.sec-card .sec-card__cont .article:hover .thumbnail {
  transform: scale(1.05);
}
.sec-card .sec-card__cont .livetalk .thumb-box .thumbnail {
  background: url(../../../resources/images/pattern/common/sec-card_livetalk.png) no-repeat top center/cover;
}
.sec-card .sec-card__cont .livetalk .btn-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
}
.sec-card .sec-card__cont .article .card__link {
  flex-direction: row-reverse;
}
.sec-card .sec-card__cont .article .card__link .thumb-box .thumbnail {
  background: url(../../../resources/images/pattern/common/sec-card_article.jpg) no-repeat center/cover;
}
.sec-card .sec-card__cont .article .card__link .btn-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
  color: #fff;
}
.sec-card .sec-card__cont .wrapper-accordion .desktop {
  display: none;
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .wrapper-accordion .desktop {
    display: block;
  }
}
.sec-card .sec-card__cont .wrapper-accordion .mobile {
  height: 356px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 7px;
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .wrapper-accordion .mobile {
    display: none;
  }
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .card__link {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .card__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.06);
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .category {
  background-color: #fff;
  font-size: 1.3rem;
  z-index: 1;
  padding: 2px 6px;
  border-radius: 23px;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .bottom-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .bottom-box .title {
  font-weight: 500;
  z-index: 1;
  color: #fff;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .bottom-box .btn-more {
  z-index: 1;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .bottom-box .btn-more::after {
  background-color: #fff;
  color: #1d1d1d;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .archive {
  grid-column: 1/3;
  grid-row: 1/2;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .archive .card__link {
  background: url(../../../resources/images/pattern/common/sec-card_archive.png) no-repeat top center/cover;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .gallery .card__link {
  background: url(../../../resources/images/pattern/common/sec-card_gallery.jpg) no-repeat center/cover;
}
.sec-card .sec-card__cont .wrapper-accordion .mobile .seminar .card__link {
  background: url(../../../resources/images/pattern/common/sec-card_seminar.jpg) no-repeat center/cover;
}
.sec-card .sec-card__cont .wrapper-goto {
  height: 120px;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.sec-card .sec-card__cont .wrapper-goto .card__item {
  flex: 1;
}
.sec-card .sec-card__cont .wrapper-goto .card__item .card__link {
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  background-color: #eee;
}
.sec-card .sec-card__cont .wrapper-goto .card__item .card__link .title {
  font-weight: 400;
}
.sec-card .sec-card__cont .wrapper-goto .frieze .card__link {
  background-color: #1d1d1d;
  color: #fff;
}
.sec-card .sec-card__cont .wrapper-goto .frieze .card__link .btn-goto::after {
  background-color: #fff;
  color: #1d1d1d;
}
@media (min-width: 600px) {
  .sec-card .sec-card__cont {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr 1fr;
    grid-template-rows: 170px 170px 352px 88px 252px;
    gap: 16px;
  }
  .sec-card .sec-card__cont .card__item {
    height: auto;
  }
  .sec-card .sec-card__cont .since {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .sec-card .sec-card__cont .news {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .sec-card .sec-card__cont .wrapper-link {
    gap: 12px;
  }
  .sec-card .sec-card__cont .livetalk,
  .sec-card .sec-card__cont .article {
    overflow: hidden;
    background-color: #f0f0f0;
  }
  .sec-card .sec-card__cont .livetalk .card__link .thumb-box,
  .sec-card .sec-card__cont .article .card__link .thumb-box {
    width: 100%;
  }
  .sec-card .sec-card__cont .livetalk .card__link .btn-text,
  .sec-card .sec-card__cont .article .card__link .btn-text {
    width: 100%;
    height: auto;
    max-width: 170px;
    border-radius: 50px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .sec-card .sec-card__cont .livetalk .card__link .btn-text__text,
  .sec-card .sec-card__cont .article .card__link .btn-text__text {
    padding: 12px 16px;
  }
  .sec-card .sec-card__cont .livetalk {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .sec-card .sec-card__cont .livetalk .btn-text {
    right: unset;
  }
  .sec-card .sec-card__cont .article {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .sec-card .sec-card__cont .article .card__link .blind {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
  }
  .sec-card .sec-card__cont .article .card__link .title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: clamp(2.6rem, 3.65vw, 2.8rem);
    width: 80%;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    transform: translate(-50%, -30%);
  }
  .sec-card .sec-card__cont .article .card__link .btn-text {
    color: #1d1d1d;
  }
  .sec-card .sec-card__cont .wrapper-accordion {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .sec-card .sec-card__cont .wrapper-accordion .title {
    font-size: 2rem;
  }
  .sec-card .sec-card__cont .wrapper-accordion .mobile {
    gap: 16px;
  }
  .sec-card .sec-card__cont .wrapper-accordion .mobile .archive-1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .sec-card .sec-card__cont .wrapper-goto {
    grid-column: 1/2;
    grid-row: 5/6;
    gap: 12px;
    flex-direction: column;
    height: auto;
  }
  .sec-card .sec-card__cont .wrapper-goto .card__item .card__link {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont {
    grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
    grid-template-rows: clamp(170px, 15.97vw, 230px) clamp(80px, 7.01vw, 102px) clamp(410px, 35.42vw, 510px) clamp(80px, 7.22vw, 104px);
    gap: 20px;
  }
  .sec-card .sec-card__cont .since {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .sec-card .sec-card__cont .since .card__link .title {
    font-size: clamp(1.6rem, 4.1666vw, 6rem);
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .sec-card .sec-card__cont .since .card__link .desc {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .news {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .sec-card .sec-card__cont .news .card__link .category {
    font-size: 1.4rem;
  }
  .sec-card .sec-card__cont .news .card__link .title {
    font-size: clamp(2rem, 1.9444vw, 2.8rem) !important;
  }
  .sec-card .sec-card__cont .wrapper-link {
    height: 100%;
    grid-column: 3/5;
    grid-row: 1/3;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .sec-card .sec-card__cont .wrapper-link .map {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .sec-card .sec-card__cont .wrapper-link .title {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .wrapper-link .magazine .btn-link {
    color: #fff;
  }
  .sec-card .sec-card__cont .wrapper-link .btn-goto,
  .sec-card .sec-card__cont .wrapper-link .btn-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
  }
  .sec-card .sec-card__cont .wrapper-link .btn-goto .blind,
  .sec-card .sec-card__cont .wrapper-link .btn-link .blind {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .sec-card .sec-card__cont .livetalk .card__link .btn-text,
  .sec-card .sec-card__cont .article .card__link .btn-text {
    max-width: 200px;
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .livetalk {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .sec-card .sec-card__cont .article {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .sec-card .sec-card__cont .article .card__link .title {
    font-size: clamp(2rem, 2.78vw, 4rem);
  }
  .sec-card .sec-card__cont .wrapper-accordion {
    position: relative;
    grid-column: 4/5;
    grid-row: 2/4;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .category {
    font-size: 1.3rem;
    color: #fff;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .title {
    font-size: clamp(1.6rem, 1.6667vw, 2.4rem);
    font-weight: 500;
    color: #fff;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .seminar .category,
  .sec-card .sec-card__cont .wrapper-accordion .desktop .seminar .title {
    color: #1d1d1d;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .card__link {
    padding: 0;
    display: block;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .btn-more::after {
    background-color: #fff;
    color: #1d1d1d;
    margin-top: 8px;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .card__item {
    transition: all 0.4s ease;
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .card__item::after {
    display: block;
    content: "";
    width: 45px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec-card .sec-card__cont .wrapper-accordion .desktop .card__item:hover .bg-box,
  .sec-card .sec-card__cont .wrapper-accordion .desktop .card__item:hover .btn-more {
    opacity: 1;
    transition: all 0.3s;
  }
  .sec-card .sec-card__cont .wrapper-accordion .archive {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .sec-card .sec-card__cont .wrapper-accordion .archive .card__link {
    background-color: #1d1d1d;
  }
  .sec-card .sec-card__cont .wrapper-accordion .archive .card__link .bg-box {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../resources/images/pattern/common/sec-card_archive.png) no-repeat center/cover;
  }
  .sec-card .sec-card__cont .wrapper-accordion .archive .card__link .top-box {
    position: relative;
    padding: 40px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  .sec-card .sec-card__cont .wrapper-accordion .archive .card__link .top-box .left-box {
    display: flex;
    flex-direction: column;
  }
  .sec-card .sec-card__cont .wrapper-accordion .gallery {
    height: 66.6666666667%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .sec-card .sec-card__cont .wrapper-accordion .gallery .card__link {
    background-color: #717171;
  }
  .sec-card .sec-card__cont .wrapper-accordion .gallery .card__link .bg-box {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../resources/images/pattern/common/sec-card_gallery_413.jpg) no-repeat center/cover;
  }
  .sec-card .sec-card__cont .wrapper-accordion .gallery .card__link .top-box {
    position: relative;
    padding: 40px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  .sec-card .sec-card__cont .wrapper-accordion .gallery .card__link .top-box .left-box {
    display: flex;
    flex-direction: column;
  }
  .sec-card .sec-card__cont .wrapper-accordion .seminar {
    height: 33.3333333333%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .sec-card .sec-card__cont .wrapper-accordion .seminar:hover .category,
  .sec-card .sec-card__cont .wrapper-accordion .seminar:hover .title {
    color: #fff;
  }
  .sec-card .sec-card__cont .wrapper-accordion .seminar .card__link {
    background-color: #d8d8d8;
  }
  .sec-card .sec-card__cont .wrapper-accordion .seminar .card__link .bg-box {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../resources/images/pattern/common/sec-card_seminar_413.jpg) no-repeat center/cover;
  }
  .sec-card .sec-card__cont .wrapper-accordion .seminar .card__link .top-box {
    position: relative;
    padding: 44px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  .sec-card .sec-card__cont .wrapper-accordion .seminar .card__link .top-box .left-box {
    display: flex;
    flex-direction: column;
  }
  .sec-card .sec-card__cont .wrapper-accordion .btn-more {
    opacity: 0;
  }
  .sec-card .sec-card__cont .wrapper-goto {
    grid-column: 2/5;
    grid-row: 4/5;
    gap: 20px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .sec-card .sec-card__cont .wrapper-goto .title {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .sec-card .sec-card__cont .wrapper-goto .btn-goto,
  .sec-card .sec-card__cont .wrapper-goto .btn-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
  }
  .sec-card .sec-card__cont .wrapper-goto .btn-goto .blind,
  .sec-card .sec-card__cont .wrapper-goto .btn-link .blind {
    position: static; /* 위치를 다시 기본으로 */
    clip: auto; /* 클립 속성 해제 */
    width: auto; /* 원래 너비로 설정 */
    height: auto; /* 원래 높이로 설정 */
    margin: 0; /* 기본 마진으로 설정 */
    overflow: visible; /* 숨김 해제 */
  }
}
.sec-card .magazine .btn-link,
.sec-card .magazine .btn-goto,
.sec-card .kiafrieze .btn-link,
.sec-card .kiafrieze .btn-goto,
.sec-card .frieze .btn-link,
.sec-card .frieze .btn-goto,
.sec-card .exhibitor .btn-link,
.sec-card .exhibitor .btn-goto,
.sec-card .partner .btn-link,
.sec-card .partner .btn-goto {
  transition: all 0.3s;
}
.sec-card .magazine .btn-link::after,
.sec-card .magazine .btn-goto::after,
.sec-card .kiafrieze .btn-link::after,
.sec-card .kiafrieze .btn-goto::after,
.sec-card .frieze .btn-link::after,
.sec-card .frieze .btn-goto::after,
.sec-card .exhibitor .btn-link::after,
.sec-card .exhibitor .btn-goto::after,
.sec-card .partner .btn-link::after,
.sec-card .partner .btn-goto::after {
  transition: all 0.3s;
}
.sec-card .magazine :hover .btn-link,
.sec-card .magazine :hover .btn-goto,
.sec-card .kiafrieze :hover .btn-link,
.sec-card .kiafrieze :hover .btn-goto,
.sec-card .frieze :hover .btn-link,
.sec-card .frieze :hover .btn-goto,
.sec-card .exhibitor :hover .btn-link,
.sec-card .exhibitor :hover .btn-goto,
.sec-card .partner :hover .btn-link,
.sec-card .partner :hover .btn-goto {
  color: #ff5f00 !important;
}
.sec-card .magazine :hover .btn-link::after,
.sec-card .magazine :hover .btn-goto::after,
.sec-card .kiafrieze :hover .btn-link::after,
.sec-card .kiafrieze :hover .btn-goto::after,
.sec-card .frieze :hover .btn-link::after,
.sec-card .frieze :hover .btn-goto::after,
.sec-card .exhibitor :hover .btn-link::after,
.sec-card .exhibitor :hover .btn-goto::after,
.sec-card .partner :hover .btn-link::after,
.sec-card .partner :hover .btn-goto::after {
  background-color: #ff5f00 !important;
}

.sec-slide {
  overflow: hidden;
  background-color: #f0f0f0;
}
@media (min-width: 1024px) {
  .sec-slide .inner {
    padding-right: 0;
  }
}
.sec-slide .inner-slide {
  display: flex;
  flex-direction: column-reverse;
  padding: 60px 0;
}
@media (min-width: 1024px) {
  .sec-slide .inner-slide {
    overflow: hidden;
    flex-direction: row;
  }
}
.sec-slide .sec-slide__tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .sec-slide .sec-slide__tit {
    justify-content: flex-start;
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .sec-slide .sec-slide__tit {
    padding-top: 0;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
  }
  .sec-slide .sec-slide__tit .title {
    width: 320px;
  }
}
.sec-slide .sec-slide__tit .title {
  font-size: 3rem;
}
@media (min-width: 600px) {
  .sec-slide .sec-slide__tit .title {
    font-size: 3.6rem;
  }
}
@media (min-width: 1024px) {
  .sec-slide .sec-slide__tit .title {
    font-size: 4rem;
  }
}
.sec-slide .sec-slide__tit .btn-more::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\e3d4";
  font-family: "Phosphor-Bold" !important;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #1d1d1d;
  border-radius: 50%;
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .sec-slide .sec-slide__tit .btn-more::after {
    margin-top: 20px;
    width: 46px;
    height: 46px;
  }
}
.sec-slide .cont-item {
  overflow: hidden;
  border-radius: 16px;
}
.sec-slide .cont-item .image-box,
.sec-slide .cont-item .txt-box {
  width: 300px;
  height: 300px;
}
@media (min-width: 1024px) {
  .sec-slide .cont-item .image-box,
  .sec-slide .cont-item .txt-box {
    width: 320px;
    height: 320px;
  }
}
.sec-slide .cont-item .txt-box {
  overflow: hidden;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.sec-slide .cont-item .txt-box .date,
.sec-slide .cont-item .txt-box .place,
.sec-slide .cont-item .txt-box .desc {
  font-size: 1.3rem;
}
@media (min-width: 1024px) {
  .sec-slide .cont-item .txt-box .date,
  .sec-slide .cont-item .txt-box .place,
  .sec-slide .cont-item .txt-box .desc {
    font-size: 1.3rem;
  }
}
.sec-slide .cont-item .txt-box .title {
  font-size: 2.6rem;
  margin-top: 36px;
}
.sec-slide .cont-item .txt-box .desc {
  margin-top: auto;
}
.sec-slide .cont-item .image-box {
  overflow: hidden;
  position: relative;
}
.sec-slide .cont-item .image-box img {
  transition: transform 0.3s ease;
  transform: translateZ(0);
  transition: all 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: transform;
  background: no-repeat center;
  background-size: 100% auto;
  transform-origin: center;
}
.sec-slide .cont-item > a:hover img {
  transform: scale(1.05);
}

.sec-goto .title {
  font-weight: 400;
}
.sec-goto .top-box {
  display: none;
}
@media (min-width: 600px) {
  .sec-goto .top-box {
    display: block;
    width: 46px;
    height: 46px;
  }
}
@media (min-width: 1024px) {
  .sec-goto .top-box {
    width: 64px;
    height: 64px;
  }
}
.sec-goto .bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-goto__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 7px;
}
@media (min-width: 600px) {
  .sec-goto__list {
    flex-wrap: nowrap;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .sec-goto__list {
    gap: 20px;
  }
}
.sec-goto__list .list__item {
  background-color: #f0f0f0;
  flex-basis: calc(50% - 3.5px);
  border-radius: 12px;
}
@media (min-width: 600px) {
  .sec-goto__list .list__item {
    flex-basis: calc(25% - 8px);
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .sec-goto__list .list__item {
    flex-basis: calc(25% - 10px);
    border-radius: 20px;
  }
}
.sec-goto__list .list__item .list__link {
  display: block;
  padding: 24px 16px;
}
@media (min-width: 600px) {
  .sec-goto__list .list__item .list__link {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .sec-goto__list .list__item .list__link {
    padding: 28px;
    gap: 60px;
  }
  .sec-goto__list .list__item .list__link .title {
    font-size: 2.4rem;
  }
}
.sec-goto__list .contact .top-box {
  background: url(../../../resources/images/pattern/common/goto_mail.svg) no-repeat center/cover;
  transition: all 0.3s ease;
}
.sec-goto__list .contact .title {
  transition: all 0.3s ease;
}
.sec-goto__list .contact:hover .top-box {
  background: url(../../../resources/images/pattern/common/goto_mail_on2.svg) no-repeat center/cover;
}
.sec-goto__list .contact:hover .title {
  color: #022be9;
}
.sec-goto__list .instagram .top-box {
  background: url(../../../resources/images/pattern/common/goto_instagram.svg) no-repeat center/cover;
  transition: all 0.3s ease;
}
.sec-goto__list .instagram .title {
  transition: all 0.3s ease;
}
.sec-goto__list .instagram:hover .top-box {
  background: url(../../../resources/images/pattern/common/goto_instagram_on.svg) no-repeat center/cover;
}
.sec-goto__list .instagram:hover .title {
  color: #ff3366;
}
.sec-goto__list .facebook .top-box {
  background: url(../../../resources/images/pattern/common/goto_facebook.svg) no-repeat center/cover;
  transition: all 0.3s ease;
}
.sec-goto__list .facebook .title {
  transition: all 0.3s ease;
}
.sec-goto__list .facebook:hover .top-box {
  background: url(../../../resources/images/pattern/common/goto_facebook_on.svg) no-repeat center/cover;
}
.sec-goto__list .facebook:hover .title {
  color: #1877f2;
}
.sec-goto__list .youtube .top-box {
  background: url(../../../resources/images/pattern/common/goto_youtube.svg) no-repeat center/cover;
  transition: all 0.3s ease;
}
.sec-goto__list .youtube .title {
  transition: all 0.3s ease;
}
.sec-goto__list .youtube:hover .top-box {
  background: url(../../../resources/images/pattern/common/goto_youtube_on.svg) no-repeat center/cover;
}
.sec-goto__list .youtube:hover .title {
  color: #ff0000;
}

.btn-goto::after {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  background-color: #1d1d1d;
  border-radius: 50%;
  color: #fff;
  content: "\e092";
  font-family: "Phosphor-Bold" !important;
}

.btn-link::after {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  background-color: #1d1d1d;
  border-radius: 50%;
  color: #fff;
  content: "\e06c";
  font-family: "Phosphor-Bold" !important;
}

.btn-more::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.4rem;
  background-color: #1d1d1d;
  color: #fff;
  content: "\e3d4";
  font-family: "Phosphor-Bold" !important;
  transition: all 0.3s ease; /* 트랜지션 추가 */
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .btn-more::after {
    width: 34px;
    height: 34px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1440px) {
  .btn-more::after {
    width: 42px;
    height: 42px;
    font-size: 2rem;
  }
}
.btn-more:hover::after {
  transform: rotate(180deg);
}

.sec-tag {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  position: relative;
  overflow: hidden;
}
.sec-tag .inner {
  position: static;
}
.sec-tag__cont {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 600px) {
  .sec-tag__cont {
    height: 280px;
  }
}
.sec-tag__cont .tag__item {
  transform: translate(-9999px, -9999px);
  position: absolute;
  background-color: #fff;
  border: 1px solid #1d1d1d;
  border-radius: 24px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1d1d1d;
  display: block;
  padding: 12px 16px;
  text-align: center;
}
@media (min-width: 1024px) {
  .sec-tag__cont .tag__item {
    font-size: 2rem;
    padding: 12px 20px;
  }
}
.sec-tag__cont .bg-primary {
  background-color: #022be9;
  color: #fff;
}
.sec-tag__cont .bg-secondary {
  background-color: #ff5f00;
}
.sec-tag__canvas {
  position: absolute;
  width: 100%;
  height: 400px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
@media (min-width: 600px) {
  .sec-tag__canvas {
    height: 280px;
  }
}
.sec-tag .sec-tag__text {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden; /* 가로로 넘치는 부분 숨김 */
  white-space: nowrap; /* 줄바꿈 방지 */
}
.sec-tag .sec-tag__text .text-box {
  will-change: transform;
  display: inline-block;
  animation-name: main-marquee-ani;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: normal;
  animation-timing-function: linear;
  white-space: nowrap;
  padding-left: 24px;
  font-size: 24px;
  font-weight: 700;
  font-size: 6rem;
  color: #fff;
}
@keyframes main-marquee-ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

:root {
  --swiper-theme-color: red;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: #000;
  opacity: 0.5;
}
.swiper .swiper-button-next::before {
  content: "\f138";
}
.swiper .swiper-button-prev::before {
  content: "\f137";
}

.slide-intro .swiper-slide {
  position: relative;
}
.slide-intro .swiper-slide.swiper-slide-active .text-area {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.slide-intro .swiper-slide img {
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.slide-intro .swiper-slide .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  max-width: 400px;
  opacity: 0;
  transition: all 0.5s;
}
.slide-intro .swiper-slide .text-area__tit {
  font-size: 3rem;
  color: #1d1d1d;
  font-family: "GmarketSansMedium";
  font-weight: 500;
}
.slide-intro .swiper-slide .text-area__cont {
  color: #555555;
}
.slide-intro .swiper-slide .text-area__goto {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 20px;
  background: #022be9;
  color: #fff;
}
.slide-intro .swiper-pagination {
  display: none;
}

.slide-studio {
  overflow: visible;
  width: 100%;
  margin-left: 0;
}
.slide-studio .swiper-pagination {
  bottom: -50px;
}

.sec-slide__tit {
  width: 100%;
}
@media (min-width: 1024px) {
  .sec-slide__tit {
    width: 320px;
  }
}

.sec-slide__cont {
  overflow: visible;
}
@media (min-width: 1024px) {
  .sec-slide__cont {
    overflow: hidden;
  }
}

@media (max-width: 599px) {
  .cont-item {
    max-width: 300px;
  }
}
@media (min-width: 600px) {
  .cont-item {
    width: 300px !important;
  }
}
@media (min-width: 1024px) {
  .cont-item {
    width: 320px !important;
  }
}/*# sourceMappingURL=styles.css.map */