@charset "UTF-8";
/* 한글에만 Pretendard 적용 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7AF;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Onest", "Pretendard", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #246beb;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1772px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) {
  .inner {
    padding: 0 30px;
  }
}

#header {
  position: relative;
  background-color: lavenderblush;
  z-index: 1000;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: 80px;
  }
}
#header #logo a {
  display: block;
  width: 123px;
  height: 26px;
  background: url(../../../resources/images/pattern/common/kiafseoul_header_logo.png) no-repeat 0 0/contain;
}
#header .util {
  display: flex;
  gap: 20px;
}
@media (min-width: 600px) {
  #header .util {
    gap: 30px;
  }
}
#header .util .lang,
#header .util .all-menu {
  width: 24px;
  height: 24px;
}
#header .util .lang svg,
#header .util .all-menu svg {
  stroke: #1d1d1d;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s;
}
#nav-all.active {
  display: block;
  left: 0;
}
#nav-all .nav-all__tit {
  font-size: 3.2rem;
  font-weight: 400;
  padding: 12px 0;
}
#nav-all .gnb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}
#nav-all .gnb a {
  display: block;
  font-size: 3rem;
  font-weight: 600;
}
#nav-all .btn-close {
  position: absolute;
  top: 23px;
  right: 20px;
}

.intro {
  height: 90vh;
}
.intro .inner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .intro .inner {
    flex-direction: row;
  }
}
.intro__txt {
  padding: 36px 0;
  font-size: 4.8rem;
  letter-spacing: -1.6px;
  font-weight: 500;
}
@media (min-width: 600px) {
  .intro__txt {
    font-size: 7rem;
  }
}
@media (min-width: 1024px) {
  .intro__txt {
    font-size: 8rem;
  }
}
.intro__vid {
  background-color: #eee;
  height: 100%;
  align-items: stretch;
  border-radius: 10px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .intro__vid {
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  .intro__vid {
    height: 100%;
    width: 50%;
    border-radius: 40px;
  }
}

.sec-slide {
  overflow: hidden;
  background-color: #f0f0f0;
}
@media (min-width: 1024px) {
  .sec-slide .inner {
    display: flex;
    padding-right: 0;
  }
}
.sec-slide .inner-slide {
  display: flex;
  flex-direction: column-reverse;
  padding: 60px 0;
}
@media (min-width: 1024px) {
  .sec-slide .inner-slide {
    overflow: hidden;
    flex-direction: row;
  }
}
.sec-slide .sec-slide__tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .sec-slide .sec-slide__tit {
    justify-content: flex-start;
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .sec-slide .sec-slide__tit {
    padding-top: 0;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
  }
  .sec-slide .sec-slide__tit .title {
    width: 320px;
  }
}
.sec-slide .sec-slide__tit .title {
  font-size: 3rem;
}
@media (min-width: 600px) {
  .sec-slide .sec-slide__tit .title {
    font-size: 3.6rem;
  }
}
@media (min-width: 1024px) {
  .sec-slide .sec-slide__tit .title {
    font-size: 4rem;
  }
}
.sec-slide .sec-slide__tit .btn-more::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #1d1d1d;
  border-radius: 50%;
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .sec-slide .sec-slide__tit .btn-more::after {
    margin-top: 20px;
    width: 50px;
    height: 50px;
  }
}
.sec-slide .cont-item {
  overflow: hidden;
  border-radius: 16px;
}
.sec-slide .cont-item .image-box,
.sec-slide .cont-item .txt-box {
  height: 300px;
}
@media (min-width: 1024px) {
  .sec-slide .cont-item .image-box,
  .sec-slide .cont-item .txt-box {
    height: 320px;
  }
}
.sec-slide .cont-item .txt-box {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.sec-slide .cont-item .txt-box .date,
.sec-slide .cont-item .txt-box .place,
.sec-slide .cont-item .txt-box .desc {
  font-size: 1.3rem;
}
@media (min-width: 1024px) {
  .sec-slide .cont-item .txt-box .date,
  .sec-slide .cont-item .txt-box .place,
  .sec-slide .cont-item .txt-box .desc {
    font-size: 1.4rem;
  }
}
.sec-slide .cont-item .txt-box .title {
  font-size: 2.6rem;
  margin-top: 36px;
}
.sec-slide .cont-item .txt-box .desc {
  margin-top: auto;
}
.sec-slide .cont-item .image-box {
  overflow: hidden;
}
.sec-slide .cont-item .image-box img {
  transition: all 0.3s;
}
.sec-slide .cont-item > a:hover .image-box img {
  transform: scale(1.1);
}

.sec-goto {
  margin-top: 24px;
}
.sec-goto .icon-box {
  width: 46px;
  height: 46px;
  background: url(../../../resources/images/pattern/common/icon_contact.svg) no-repeat 0 0/contain;
}
@media (min-width: 1024px) {
  .sec-goto .icon-box {
    width: 64px;
    height: 64px;
  }
}
.sec-goto .icon-box {
  display: none;
}
@media (min-width: 600px) {
  .sec-goto .icon-box {
    display: block;
  }
}
.sec-goto__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media (min-width: 600px) {
  .sec-goto__list {
    flex-wrap: nowrap;
    gap: 12px;
  }
}
@media (min-width: 1024px) {
  .sec-goto__list {
    gap: 24px;
  }
}
.sec-goto__list li {
  flex-basis: calc(50% - 6px);
  background-color: #f0f0f0;
  border-radius: 12px;
}
@media (min-width: 600px) {
  .sec-goto__list li {
    flex-basis: calc(25% - 6px);
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .sec-goto__list li {
    flex-basis: calc(25% - 12px);
    border-radius: 24px;
  }
}
.sec-goto__list li a {
  display: block;
  padding: 24px 16px;
}
@media (min-width: 600px) {
  .sec-goto__list li a {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .sec-goto__list li a {
    padding: 28px;
    gap: 60px;
  }
}
.sec-goto__list li a .txt-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-goto__list li a .txt-box .title {
  text-transform: capitalize;
}
@media (min-width: 1024px) {
  .sec-goto__list li a .txt-box .title {
    font-size: 2.6rem;
  }
}
.sec-goto__list li a .txt-box .btn-goto::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transform: rotate(-45deg);
  width: 24px;
  height: 24px;
  background-color: #1d1d1d;
  border-radius: 50%;
}

.sec-card {
  margin: 20px 0;
}
.sec-card .card__item {
  background-color: #eee;
  border-radius: 12px;
}
@media (min-width: 600px) {
  .sec-card .card__item {
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .sec-card .card__item {
    border-radius: 24px;
  }
}
.sec-card .card__area {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sec-card .card__area .since a {
  height: 170px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-card .card__area .since a .txt-box {
  display: flex;
  justify-content: space-between;
}
.sec-card .card__area .news {
  background: url(https://www.theartro.kr/kor/focus/20221005/1_3.jpg) no-repeat center/cover;
}
.sec-card .card__area .news a {
  color: #fff;
  padding: 16px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-card .card__area .wrapper-link {
  display: grid;
  gap: 12px 7px;
  grid-template-columns: 1fr 1fr;
}
.sec-card .card__area .wrapper-link .map {
  grid-area: 1/1/3/2;
}
.sec-card .card__area .wrapper-link .card__item {
  padding: 16px;
}
.sec-card .card__area .wrapper-link .card__item .txt-box {
  display: flex;
  justify-content: space-between;
}
.sec-card .card__area .livetalk a {
  height: 106px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.sec-card .card__area .livetalk a .btn-goto {
  margin-top: auto;
}
.sec-card .card__area .article a {
  padding: 16px;
  height: 172px;
  display: flex;
  justify-content: space-between;
}
.sec-card .card__area .article a .btn-goto {
  margin-top: auto;
}
.sec-card .card__area .wrapper-acco {
  height: 356px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px 7px;
}
.sec-card .card__area .wrapper-acco .card__item a {
  padding: 16px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.sec-card .card__area .wrapper-acco .acco01 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.sec-card .card__area .wrapper-goto {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.sec-card .card__area .wrapper-goto .card__item {
  flex: 1;
  height: 120px;
  padding: 16px;
}
.sec-card .card__area .wrapper-goto .card__item .icon-box {
  display: none;
}
.sec-card .card__area .wrapper-goto .card__item .txt-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sec-card .card__area .wrapper-goto .card__item .txt-box .title {
  font-size: 1.6rem;
  font-weight: 400;
}
.sec-card .card__area .wrapper-goto .card__item .txt-box .btn-goto {
  margin-top: auto;
}
@media (min-width: 600px) {
  .sec-card .card__area {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr 1fr;
    grid-template-rows: 170px 170px 352px 352px 72px;
    gap: 12px;
  }
  .sec-card .card__area .card__item {
    height: 100%;
  }
  .sec-card .card__area .card__item a {
    height: 100%;
  }
  .sec-card .card__area .since {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .sec-card .card__area .news {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .sec-card .card__area .livetalk {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .sec-card .card__area .article {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .sec-card .card__area .wrapper-acco {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  .sec-card .card__area .wrapper-acco .acco01 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .sec-card .card__area .wrapper-goto {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .sec-card .card__area .wrapper-goto > .card__item {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .sec-card .card__area {
    grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
    grid-template-rows: 300px 440px 140px;
    gap: 20px;
  }
  .sec-card .card__area .since {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .sec-card .card__area .news {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .sec-card .card__area .wrapper-link {
    grid-column: 3/5;
    grid-row: 1/2;
    grid-template-columns: 0.8fr 1fr;
    gap: 20px;
  }
  .sec-card .card__area .livetalk {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .sec-card .card__area .article {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .sec-card .card__area .wrapper-acco {
    background-color: #eee;
    height: 600px;
    grid-column: 4/5;
    grid-row: 2/4;
    display: block;
  }
  .sec-card .card__area .wrapper-acco .acco02,
  .sec-card .card__area .wrapper-acco .acco03 {
    display: none;
  }
  .sec-card .card__area .wrapper-goto {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}

.btn-goto::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transform: rotate(-45deg);
  width: 24px;
  height: 24px;
  background-color: #1d1d1d;
  border-radius: 50%;
}

:root {
  --swiper-theme-color: red;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: #000;
  opacity: 0.5;
}
.swiper .swiper-button-next::before {
  content: "\f138";
}
.swiper .swiper-button-prev::before {
  content: "\f137";
}

.slide-intro .swiper-slide {
  position: relative;
}
.slide-intro .swiper-slide.swiper-slide-active .text-area {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.slide-intro .swiper-slide img {
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.slide-intro .swiper-slide .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  max-width: 400px;
  opacity: 0;
  transition: all 0.5s;
}
.slide-intro .swiper-slide .text-area__tit {
  font-size: 3rem;
  color: #1d1d1d;
  font-family: "GmarketSansMedium";
  font-weight: 500;
}
.slide-intro .swiper-slide .text-area__cont {
  color: #555555;
}
.slide-intro .swiper-slide .text-area__goto {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 20px;
  background: #246beb;
  color: #fff;
}
.slide-intro .swiper-pagination {
  display: none;
}

.slide-studio {
  overflow: visible;
  width: 100%;
  margin-left: 0;
}
.slide-studio .swiper-pagination {
  bottom: -50px;
}

.sec-slide__tit {
  width: 100%;
}
@media (min-width: 1024px) {
  .sec-slide__tit {
    width: 320px;
  }
}

.sec-slide__cont {
  overflow: visible;
}
@media (min-width: 1024px) {
  .sec-slide__cont {
    overflow: hidden;
  }
}

@media (max-width: 599px) {
  .cont-item {
    max-width: 300px;
  }
}
@media (min-width: 600px) {
  .cont-item {
    width: 300px !important;
  }
}
@media (min-width: 1024px) {
  .cont-item {
    width: 320px !important;
  }
}/*# sourceMappingURL=styles.css.map */